.about {
  display: "flex";
  justify-content: "center";
  align-items: center;
  margin-top: 95px;
}

.about > header {
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
  color: white;
}

body {
  background: url("back.jpg") center center no-repeat fixed;
  width: "100vw";
  height: "100vh";
  max-width: fit-content;
}
