@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");

:root {
  --primary: #d62951;
  --text: #363535;
  --light: #888888;
}

* {
  font-family: "Poppins", sans-serif;
}
section > header {
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  color: white;
}

section > .skill {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;

  /* max-width: 1024px; */
}

.skill .set {
  background-color: white;
  padding: 24px;
  border-radius: 16px;
  width: 350px;
}

.skill .set:hover {
  box-shadow: 0px 12px 16px #36363624;
}

.set span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 50px;
  margin-inline: auto;
}

.set > header {
  padding-block: 24px;
  font-size: 24px;
  color: var(--primary);
  text-align: center;
  text-transform: capitalize;
}

.set .list {
  padding-block: 8px;
  display: flex;
  justify-content: space-between;
  color: var(--light);
  text-transform: uppercase;
}

.set:hover .list {
  color: var(--text);
}
